@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  font-size: 6rem;
  font-weight: bold;
  color: #facc15;
  transform: rotate(90deg);
  white-space: nowrap;
}

.marquee.active {
  animation: marquee var(--marquee-duration) linear infinite;
}

.word {
  text-transform: capitalize;
}

@keyframes marquee {
  from {
    transform: rotate(90deg) translateX(calc(100vh + 82px));
  }
  to {
    transform: rotate(90deg)
      translateX(calc((var(--marquee-width) + 82px) * -1));
  }
}
